*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* color: #fff; */
}

body{
    background-color: #111;
    height: 100%;
}

.card{
    margin: 20px;
    padding: 20px;
    height: 240px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.upper{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.upper img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #dadada;
    object-fit: cover;
}

.upper button{
    width: 65px;
    height: 25px;
    background-color: transparent;
    border: 1px solid #dadada;
    border-radius: 5px;
    color: #c4bdbd;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 12px;
    cursor: pointer;
}

.center{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.center .comp{
    display: flex;
    align-items: center;
    gap: 5px;
}

.center .comp span{
    font-size: 12px;
    color: #c4bdbd;
}
.center button{
    padding: 3px 6px;
    border:1px solid #dadada;
    border-radius: 5px; 
    font-size: 12px;
    cursor: pointer;
}

.center .tags{
    display: flex;
    gap: 5px;
}
.bottom{
    border-top: 2px solid #dadada;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}


.bottom span{
    font-size: 10px;
    color: #c4bdbd;
}
.bottom .payment{
    margin-top: 10px;
}
.bottom button{
    padding: 5px 10px;
    margin-top: 12px;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.parent{
    display: flex;
    flex-wrap: wrap;
}