body{
  margin: 0;
  padding:0;
}

button{
  padding: 10px 20px;
  margin: 10px;
  color: white;
  background-color: rgb(55, 55, 215);
  border: none;
  border-radius: 8px;
  cursor:pointer;
}

button:active{
  transform: scale(0.95);
}