*{
  margin: 0;
  padding:0;
}

.page1{
  height: 100vh;
  background-color: #111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page2{
  height: 100vh;
  background-color: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page3{
  height: 100vh;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}