body{
  margin: 0;
  padding: 0;
}
#box{
  margin: 10px;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
button{
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgb(213, 38, 38);
  color:white;
  font-weight: bold;
}