*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: #111;
  color: #fff;
}

.box{
  height: 200px;
  width: 200px;
  background-color: red;
  border: 3px solid white;
  display: none;
}
.circle{
  height: 200px;
  width: 200px;
  background-color: rgb(86, 157, 126);
  border: 3px solid white;
  border-radius: 50%;
  display: none;
}

.container{
  height: 100vh;
  width: 100%;
  padding: 20px;
}

p{
  font-size: 40px;
}
h2{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 50px;
}

.load{
  position: fixed;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  transform-origin: left;
  background-color: orangered;
}