*{
  margin: 0;
  padding:0;
}
body{
  background-color: #111;
  color: white;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  background-color: #2b413b;
  color: white;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
}

.linkr{
  display: flex;
  align-items: center;
  gap: 200px;
}

.linkr a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}


h3{
  background:linear-gradient(90deg,rgb(177, 121, 220),rgb(25, 196, 223));
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  cursor:pointer
}